# ===============================
# API KEYS
# Add your API key(s) below
# ===============================

# Select ONE provider (Uncomment it. ONLY ONE)
LLM_PROVIDER=openrouter
# LLM_PROVIDER=openai

# OpenRouter API Key (required if using OpenRouter)
OPENROUTER_API_KEY=your_openrouter_key

# OpenAI API Key (required if using OpenAI)
OPENAI_API_KEY=your_openai_key
